.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
UBRApp/.idea/.name
UBRApp/.idea/compiler.xml
UBRApp/.idea/copyright/profiles_settings.xml
UBRApp/.idea/encodings.xml
UBRApp/.idea/libraries/android_support_v4.xml
UBRApp/.idea/libraries/android_support_v4_aa8d9fb697409efcd1a65e6a5804d201.xml
UBRApp/.idea/misc.xml
UBRApp/.idea/modules.xml
UBRApp/.idea/scopes/scope_settings.xml
UBRApp/.idea/uiDesigner.xml
UBRApp/.idea/vcs.xml
UBRApp/.idea/workspace.xml
UBRApp/UBRApp.iml
UBRApp/gen/com/example/myfirstapp/Manifest.java
UBRApp/.idea/libraries/android_support_v42.xml
UBRApp/.idea/libraries/android_support_v4_aa8d9fb697409efcd1a65e6a5804d2012.xml
UBRApp/gen/*
UBRAPP/bin/*